# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pdb
*.log

# Virtual Environment
.venv/
env/
venv/

# Django specific
*.db
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db

# Python egg and package distribution
.eggs/
dist/
build/
*.egg-info/
